<h1>Update your task</h1>

 <%= render partial: "form", locals: {form_class: "edit-task", intro_text: "Please fill out this form to update selected task", action_name: "Edit Task"} %>

<%= link_to "Back to All Tasks", tasks_path %>