<h2>Edit this task!</h2>

<%= form_with model: @task, class: 'edit-task' do |f| %>

  <p>Please fill out this form to edit this task</p>


  <%= f.submit "Edit Task", class: "edit-button" %>

<% end %>