<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">

<section class="edit">
<h2>Edit a task</h2>

<%= render partial: "form", locals: {
    form_class: "edit-task", 
    intro_text: "Use this form to edit a task",
    action_name: "Edit Task"
    } %>
</section>