<div class="main">
<h2>Enter your edits below!</h2>

<%= render partial: "form", locals: {
    model_name: @edited_task,
    form_class: "edit-task",
    submit_button_name: "Save Edits",
    submit_button_class: "task_edit"
}
%>
</div>