<h2>Edit Task Form</h2>
<%= render partial: "form", locals: { action_name: "Edit",
                                      title: @task.name,
                                      description: @task.description,
                                      completion: @task.completion_date } %>
