<link rel="stylesheet" href="../assets/stylesheets/normalize.css">

<h2>
  <span><%= link_to "⟵", tasks_path %></span>
  <span>Edit existing task</span>
</h2>

<%= render partial: "form", locals: {
    intro_text: "Fill in the boxes below to edit your existing task",
    action_name: "Update",
    form_class: "edit-task"
} %>
