<link rel="stylesheet" href="../assets/stylesheets/normalize.css">

<h2>Edit existing task</h2>

<%= render partial: "form", locals: {
    intro_text: "Fill in the boxes below to edit your existing task",
    action_name: "Update",
    form_class: "edit-task"
} %>

<%= link_to "Back to task list", tasks_path %>