<div class="container">
<header><h1> Tasktron 6000 </h1></header>
<main>
<p><%= link_to "New Task", new_task_path %></p>
<p><% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task.id) %>
    <%= link_to "edit", edit_task_path(task[:id]) %>
    <%= link_to "delete", task, method: :delete, data: { confirm: "Really, though?" }%>
    </li>
<% end %></p>
</main>
</div>