

<h2>See the List</h2>
<div class="index-display">
  <ul>
    <% @tasks.each do |task|%>
    <li>
      <strong>
      <%= link_to task.description, task_path(task) %>
      </strong>
      by <%= task.name %>
      </li>
      <li>
      <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Press Ok to continue."} %>
      <div><%= link_to "Mark Complete", toggle_complete_path(task), method: :put %>
      <p>--------------------------------</p>
    </li>
    <% end %>
  </ul>
</div>




