<section>
  <h2>Your Tasks</h2>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <strong>
          <%= link_to task.name, task_path(task) %> - 
        </strong>
      </li>
      <li>
        Mark Complete
      </li>
      <li>
        Edit
      </li>
      <li>
        Delete
      </li>
    <% end %>
  </ul>
</section>