<div class = 'tasklist'>
<% @tasks.each do |task| %>
    <ul>
    <li>
        Task <%= task.id %>: <%= task.name %>, notes: <%= task.description%>,
        Completion date: <%= task.completion_date %>
    </li>
    </ul>
    <% end %>

</div>