
<h1>Hello, this is my task list</h1>

<p>There are <%= @tasks.length %> tasks to do.</p>


<ul>
<% @tasks.each do |task|%>
<li>
<%= task.name %> : <%= task.description %> , <%= task.Completion_date%>
</li>
<% end %>
</ul>