

<h2>See the List</h2>

<% @tasks.each do |task|%>
<li>
  <%= link_to task.description, task_path(task) %></a>
  <p>--------------------------------</p>
</li>
<%end%>


<button type="button"> <%= link_to "Add Task", new_task_path %> </button>




