<h1>Tasks#index</h1>

<ul>
<% @tasks.each do |task| %>
  <li>
    Task: <%= task.task_name %> 
    Description: <%= task.description %>
    Completed?: <%= task.completion_date %>
  </li>
<% end %>
</ul>

