<h2>Task List</h2>
<h3>Here is a list of your Tasks</h3>


<section>

<p><strong>You have <%= @tasks.length %> outstanding tasks</strong></p>

  <% if @urgent_task %>
    <p class ='urgent_task'>
      <strong>Most Urgent Task: <%= @urgent_task.name %></strong>
    </p>
    <p class ='urgent_task'>
      <strong>Due date: <%= @urgent_task.completion_date %></strong>
    </p>
  <% else %>
    <p>No tasks today :(</p>
  <% end %>
</section>

<section>

  <ul class="list_task">
    <% @tasks.each do | task | %>
    <li><%= link_to task.name, task_path(task) %></li> 
    <% end %>
  </ul>

</section>

