<section>
  <h2>Your Tasks</h2>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <strong>
          <%= task.name %> - 
        </strong>
        <%= link_to "view details", task_path(task) %></li>
      </li>
    <% end %>
  </ul>
</section>