<header>
  <h1>This is TasksList</h1>
  <nav>
    <ul>
      <li>
        <%= link_to "Add Task", new_task_path %>
      </li>
      <li>
        All Tasks
      </li>
    </ul>
  </nav>
</header>

<section>
  <h2>Your Tasks</h2>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <strong>
          <%= task.name %> - 
        </strong>
        <%= link_to "view details", task_path(task) %></li>
      </li>
    <% end %>
  </ul>
</section>

<footer>
  <p>copyright 2019 - Hana L Clements</p>
</footer>