<h1>Tasks</h1>
<ul>

  <table>
    <tr>  
      <th>Name</th>
      <th>Description</th>
      <th>Completion</th>
    </tr>
  <% @tasks.each do |task|  %>  
    <tr>  
      <td><%= task.name%></td>
      <td><%= task.description%></td>
      <td><%= task.completion%></td>
    </tr>
  <% end %>  
  </table>
</ul>