<h1>Your Tasks</h1>
<ol>
  <% @tasks.each do |task| %>
  <li><%=link_to task.name, task_path(task.id) %></li>
    <ul>
      <li><%= "Description: #{task.description}" %></li>
      <li><%= "Completion Date: #{task.completion}" %></li>
    </ul>
  <% end %>
</ol>