<nav>
<%= link_to "Add a new task", tasks_path %>
</nav>
<h1>Hello, this is my task list</h1>

<p>There are <%= @tasks.length %> tasks to do.</p>


<ul>
<% @tasks.each do |task|%>
<li>
<%= task.name %> : <%= task.description %>
</li>
<% end %>
</ul>