<h1>Tasks for Today:</h1>
<ul>
<% @tasks.each do |task| %>
    <li>
        <h2><%= task.name %></h2> 
        <h3><%= task.description %></h3> 
        <h3><%= "Completed? #{!task.completion_date.nil?}"%></h3> 
    </li>   
<% end %>
<ul>