

<p>
    There are <%= @tasks.length %> tasks on the list.
</p>
<p>
    Remember to:
</p>
<ul>
    <% @tasks.each do |task| %>
    <li>
        <%= "#{task.name} (#{task.description})" %>
    </li>
    <% end %>
</ul>