<h1>tasks#index</h1>
<p>Find me in app/views/task_controller/index.html.erb</p>

<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      <%= task[:name] %> | <%= task[:description] %>
    </li>
  <% end %>
</ul>