<h1>Tasks</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<ul>
    <% @tasks.each do |task| %>
        <li>
            <a href="tasks/<%= task.id %>" >
                <%= task.name %>
            </a>
        </li>
    <% end%>
</ul>

<%= link_to "Add a new task", new_task_path %>