<h1>Tasks index</h1>
<p>This is your task list!</p>
<ul>
  <% @tasks.each do |task|%>
  <li>
    <%= task[:id]%>
    <%= link_to task.name, tasks_index_path(task[:name], class:'title-link') %>
  </li>
  <% end %>
</ul>
