<h2>Welcome to Task List</h2>

<h3>Here is a list of your Tasks</h3>


<ul>
  <% @tasks.each do |task |  %>
  <% task.each do |key,value| %>
    <li>
      <%= key %> : <%= value %>
    </li>
      <% end %>
  <% end %>
</ul>