<h1>TASKLIST</h1>
<%= link_to "Create new task", new_task_path %>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <strong>
        <%= link_to task.name, task_path(task) %>
      </strong>
      <ul>
        <li>
          <strong>
            <%= link_to "Edit", edit_task_path(task) %>
          </strong>
        </li>

        <li>
          <strong>
            <%= link_to "Delete", task_path(task.id), method: :delete %>
          </strong>
         </li>
      </ul>
    </li>
  <% end %>
</ul>

