<h1>Welcome to the Task List</h1>

<p>You have <%= @tasks.length %> tasks at the moment</p>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%# <a href="/tasks/#{@tasks.id}"> %>
      <strong><%= task.name %></strong>
      by <%= task.description %>
    </li>
  <% end %>
</ul>