<h1>TaskList</h1>
<p>get it done!</p>

<ul>
    <li>
        TO DO:
    </li>
<% @tasks.each do |task| %>
    <li>
        <%= task.name %>: <%= task.description %> (completion date: <%= task.completion_date %>)
    </li>
<%end%>
</ul>