<h1>Task List App!</h1>

<h2>Task List</h2>

<% @tasks.each do |task|%>
<li>
  <a href="tasks/<%= task.id %>"> Task: <%= task.description %></a>
  <p>--------------------------------</p>
</li>
<%end%>


<button type="button" onclick="location.href='/tasks'" >Add task</button>




