<h1>Task List</h1>

<ul>
<% @tasks.each do |task_item| %>
    <li>
        Task: <%= task_item.name %> 
        Description: <%= task_item.description %>
        Completed on: <%= task_item.completion_date %>
    </li>
<% end %>
</ul>