<h2>Welcome to Task List</h2>

<h3>Here is a list of your Tasks</h3>


<ul>
  <% @tasks.each do | task |  %>
    <li>
      <%=  task.name %> : <%= task.description %> : <%= task.completion_date %>
    </li>
  <% end %>
</ul>