<h1>Tasks</h1>
<%= link_to 'Create task', create_task_path %>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <% if task.completion_date %>
        <s><%= link_to task.name, task_path(task.id) %></s>
      <% else %>
        <%= link_to task.name, task_path(task.id) %>
      <% end %>
    </li>
  <% end %>
</ul>
