<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      <% if task[:complete] %>
        <s><%= task[:name] %></s>
      <% else %>
        <%= task[:name] %>
      <% end %>
    </li>
  <% end %>
</ul>
