<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      <strong>
        <%= link_to task.name, task_path(task) %>
        <%= link_to " Delete", task_path(task.id), method: :delete %>
        <%# <%= link_to " Mark as complete", task_path(task.id), method: :delete %> %>

      </strong>
    </li>
  <% end %>
</ul>

<strong>
  <%= link_to "add task", new_task_path %>
</strong>