<h1>Shamira's Tasks</h1>
<p>
<% @tasks %>
</p>
<ul>
<% @tasks.each do |task| %>
  <li>
  <!-- fix anchor -->
  <a href="/tasks/<%= task.id %>">
    <%= task.name %>, Details:<%= task.description%>, due <%= task.completion_date%>
  </li>
<% end %>
</ul>