<h1>Tasks</h1>

<ul>
<% @tasks.each do |task| %>
  <li>
  <a href="/tasks/<%=task.id%>">
    Task: <%= task.task_name %> 
    Description: <%= task.description %>
    Completed?: <%= task.completion_date %>
  </li>
<% end %>
</ul>

