<h1>Tasks</h1>

  <ul class="tasks-list">
    <% @tasks.each do |task| %>
      <li>
        <strong><%= task.name %></strong> | due by: <%= task.completion_date %>
        <%= link_to "View details", task_path(task.id) %>
      </li>
    <% end %>
  </ul>

