<h1>Ada's Wonder Task (I didn't copy paste this)</h1>

<ul>
<% @tasks.each do |task| %>
  <li>
    <%= link_to task.name, task_path(task.id) %> 
  </li>
<% end %>
</ul>


<%# "I am shouting!".upcase %>
<%# @name %>