

<p>You have <%= @tasks.length %> tasks at the moment</p>




<ul>
  <% @tasks.each do |task| %>
    <li>
      <strong>
      <%= link_to task.name, task_path(task.id) %>: 
      </strong>
      <%= task.description %> by  <%= task.date %>

    </li>
  <% end %>
</ul>