<link rel="stylesheet" href="../assets/stylesheets/normalize.css">

<h2>Create a new task:</h2>

<%= render partial: "form", locals: {
    intro_text: "Fill in the boxes below to create a new task",
    action_name: "Create",
    form_class: "create-task"
} %>

<%= link_to "Back to task list", tasks_path %>