
<h2>Create a New Task!</h2>

<p>Fill in the information below to create a new task:</p>

<%= render partial: "form", locals: {
  form_class: "new-task",
  intro_text: "Use this form to create a new task",
  action_name: "MAKE! THAT! task!"
} %>