<div class="main">
<h2>Enter information about your new task below!</h2>

<%= render partial: "form", locals: {
    model_name: @task,
    form_class: "create-task",
    submit_button_name: "Save Task",
    submit_button_class: "task_submit"
}
%>
</div>