<h2>New Task Form</h2>
<%= render partial: "form", locals: { action_name: "New",
                                      title: "What would you like to name this task?",
                                      description: "Description of task",
                                      completion: "mm/dd/yyyy" } %>