<h2>New Task Form</h2>
<%= render partial: "form", locals: { action_name: "Create Task",
                                      title: "Name this task",
                                      description: "Description of task",
                                      completion: "mm/dd/yyyy" } %>