
    <% if @task.description %>
        <li>description: <%= @task.description %></li>
    <% end %>
    <% if @task.completion_date %>
        <li>completed on <%= @task.completion_date %></li>
    <% end %> 