<h1 class='title'>Task Detail Page </h1>

<div class='form'>
  <h2 class='task-title'><%= @task.name %> </h2>
  <p>
    Description: <%= @task.description%>
  </p>

  <p>
    Completion Date: <%= @task.completion_date %>
  </p>

  <%= link_to "Edit Task", edit_task_path(@task), class:"button form-button" %>
 </div>