<h1>TaskList App</h1>
<h2>Selected Task</h2>
<p>
  You have selected the task "<strong><%= @task.name %></strong>." 
</p>
<p>
To do this, you need to do the following: <strong><%= @task.description %></strong>
</p>
