<h1>TaskList App</h1>
<%= link_to "Home", tasks_path %>
<h2>Selected Task</h2>
<p>
  You have selected the task "<strong><%= @task.name %></strong>." 
</p>
<p>
To do this, you need to do the following: <strong><%= @task.description %></strong>
</p>
<p>
<%= link_to "Edit task", edit_task_path %>
</p>
