<h2>Task Details Page</h2>

<p>
  Name: <%= @task.name %>
</p>

<p>
  Description: <%= @task.description %>
</p>
<p>
  Due Date: <%= @task.completion_date %>
</p>
<p>
  Completed on: <%= @task.completed_at %>
</p>