<p id="notice"><%= flash[:error] if flash[:error] %></p>
<div class="container">
<ul class="list-group d-flex justify-content-between">
<header><h1>Task Page</h1></header>
<li class="list-group-item flex-column align-items-start"><p>Title: <%= @task['title']%></p>
<p>Description: <%= @task['description']%></p>
<button class="btn btn-outline-secondary"><%= link_to "BACK", tasks_path%>
</li>
</ul>
</div>