<h2>Task Details Page</h2>

<p>
  Task: <%= @task.name %>
</p>

<p>
Description:
<%= @task.description %>
</p>

<p>
  Deadline: <%= @task.deadline %>
</p>

<p>
  Priority: <%= @task.priority_level %>
</p>