<h2>
  <%= @task.name %>
</h2>

<h3>
  <%= @task.description %>
</h3>

<p>
  <% if @task.completed == true %>
    <%= "Completed: #{@task.completion_date.strftime("%b %d %Y")}" %>
  <% end %>
</p>




