<section>
  <h2>Task Details</h2>

  <ul>
    <li>
      <strong>
        <%= @task[:name] %>
      </strong>
    </li>
    <li>
      <%= @task[:description] %>
    </li>
    <li>
      <%= @task[:completion_date] %>
    </li>
  </ul>
</section>