<div class="task">
  <h2>Task Details</h2>

  <p>
    Task: <%= @task.name %>
  </p>
  <p>
    Description: <%= @task.description %>
  </p>
  <p>
    Completion Date: <%= @task.completion_date %>
  </p>
</div>