<h1><%= @task.name %> </h1>
<ul>
  <p><%= @task.description %></p>
  <br>
  <% status = "completed" if @task.completed %>
  <% status = "in-progress" unless @task.completed %>
  <p>Created: <%= @task.created_at %></p>
  <p class="status">Status: <%= status %></p>
</ul>
