<h1>Task Details</h1>

<p>
  Name: <%= @task.name %>
</p>
<p>
  Date: <%= @task.completion_date %>
</p>

<p>
Description: <%= @task.description %>
</p>

<strong>
  <%= link_to "edit task", edit_task_path %>
</strong>