<p>
<%= @task.description %>
</p>

<%= link_to "back to all tasks", tasks_path %>

<%= link_to "edit #{@task.name}", edit_task_path(@task.id) %>

<%= link_to "delete #{@task.name}", 
    task_path(@task.id), method: :delete, 
    data: { confirm: 'Are you sure you want to delete this task?' } %>