<h2>
  <%= @task.name %>
</h2>

<h3>
  <%= @task.description %>
</h3>

<% if @task.completed == true %>
  <p class="completed">
  <%= "Completed: #{@task.completion_date.strftime("%b %d %Y")}" %>
  </p>
<% end %>





