<h2>Task details page</h2>

<ul>
<li>
  Name: <%= @task.name %>
</li>
<li>
  Description: <%= @task.description %>
</li>
<li>
  Completion_date: <%= @task.completion_date %>
</li>
  <li>
  <%= link_to "Edit #{@task.name}", edit_task_path(@task.id) %>
  </li>
</ul>
