<h1>Todos#index</h1>
<ul>
// <h2>CLOUDYS TASKS</h2>
<% @todos.each do |todo| %>
<li>
<%= link_to todo.name, todo_path(todo.id) %>
</li>
  <% end %>

  <%= link_to "Create a Task", new_task_path %>
</ul>