<h1>CLOUDYS TASKS</h1>

<ul>

<h2> put on some rap music, drink some iced coffee, and get it done. </h2>
  <% @todos.each do |todo| %>
<li>
  <%= link_to todo.name, todo_path(todo.id) %>
</li>
  <% end %>

  <%= link_to "Create a Task", new_task_path %>
  
  <%# <%= link_to "Mark Complete", new_task_path %>
</ul>  