<p>
<%= @todo.description %>
</p>

<%= link_to "Take me back to all tasks", todos_path %>

<%= link_to "Edit a Task", edit_task_path %>

<%= link_to "Delete #{@todo.name}", 
    todo_path(@todo.id), method: :delete, data: {confirm: "are you sure you want to delete?"} %>