/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  /* padding: 40px; */
}

a {
  text-decoration: none;

}

a, a:visited, a:hover, a:active {
  color: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template: 50px 1fr 50px / 1fr;
  margin: 10px;
}

header {
  background-color: #EFEFF0;
  grid-column: span 2;
}

main {
  display: grid;
  grid-template: 50px 1fr/ 300px 1fr;
  padding: 20px;
}
.nav_list {
  font-weight: bold;
  font-size:16px;
}

.nav_list:hover {
  color: #6B5E62
}

ul  {
  padding: 0;
  list-style-type: none;
}

nav ul {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
}

nav li {
  list-style-type: none;
}

footer {
  background-color: #D5CAD6;
  grid-column: span 2;
  height: 50px;
}

footer p {
text-align: center;

}
