/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0px;
  display: grid;
  grid-template-columns: 200px 5fr;
  grid-template-rows: minmax(100px, 15vh) minmax(75vh, auto) minmax(75px, 10vh);
  font-family: 'Roboto Mono', monospace;
  background-color: grey;
}

body > * {
  padding: 20px;
}

h1 {
  text-align: center;
  margin: 0;
}

h2 {
  color: white;
}

header {
  background-color: grey;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

footer {
  background-color: grey;
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  text-align: center;
}

main {
  background-color: lightgrey;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

nav {
  background-color: darkgrey;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  padding-bottom: 20px;
}

.small {
  font-size: 12px;
}

p {
  margin: 1px;
}

.completed a {
  text-decoration: line-through;
}

.completed::after {
  content: "completed!";
  font-style: italic;
  background-color: lightgreen;
  display: block;
  width: 85px;
  text-align: center;
  font-size: 12px;
}

.in-progress::after {
  content: "in progress!";
  font-style: italic;
  background-color: lightblue;
  display: block;
  width: 100px;
  text-align: center;
  font-size: 12px;
}

.overdue::after {
  content: "overdue!";
  font-style: italic;
  background-color: lightcoral;
  display: block;
  width: 70px;
  text-align: center;
  font-size: 12px;
}

.button_to {
  display: inline;
}