
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Gaegu');

body {
  font-family: 'Gaegu', monospace;
  font-size: 1.25rem;
  background-color: fff;
  color:#212121;
}

.container {
  margin-top: 20px;
  max-width: 80%;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 1.25rem 1.25rem;
  margin-bottom: -1px;
  border-top: 1px dashed #323a45;
}

.list-group-item:last-of-type {
  width: 100%;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.list-group {
  margin-bottom: 0;
  border-radius: 36px;
}

ul {
  border: 2px solid #b9b9b9;
}

header{
  color: #345A5E;
  text-align: center;
  background-color: #fff;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
  margin-bottom: 10px;
}

a,
a:link,
a:visited,
a:hover {
  color: #360036;
  text-decoration: none;
}

li > a {
  line-height: 2.5;
margin-left: 10px;
font-weight: 600;
}

button.left {
  background-color: #e7f4e4;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

button.right {
  background-color: #f9dede;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

button.full {
  background-color: #d4f0f8;
  width: 130px;
  border-radius: 15px;
}

.completed {
  margin-right: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.list-group-item {
  background: #eef6f8;
}

.list-group-item:hover{
  background:#dbf2f8;
}

.list-form-item, .list-form-item:hover {
  background: #fff;
}

input, textarea {
  background-color: transparent;
  border: 1px dotted #b9b9b9;
}

button > input {
  border: none;
}

textarea {
  display : block;
  padding : 10px;
  margin  : 10px 0 0 -10px;
  width   : 80%;
  height  : 200px;
  resize  : none;
  overflow: auto;
}