* {
  font-weight: regular;
}

body {
  background-color: #FEA29F;
  color: #3a3a3a;
  font-size: 18px;
  font-family: 'Caudex', serif;
  margin: 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "aside  main"
    "aside  main"

}

header h1 {
  color: white;
  font-weight: regular;
  text-align: center;
  margin-top: 40%
}

main {
  grid-area: main;
  margin-left: 2rem;
}


h2, h3, h4 {
  color: #FB5F73;
  font-weight: regular;
}

header {
  grid-area: aside;
  font-size: 40px;
  font-family: 'Caudex', serif;
  letter-spacing: 1px;
  margin-left: 2rem;
}
.aside {
  grid-area: aside;
  background-color: #141D59;
  height: 80vh;
  max-width: 40vw;
  margin: 1rem;
  padding: 1rem;
  border-top-left-radius: 400px;
  border-bottom-left-radius: 400px;
}

nav {
  margin: 80% 20%;
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 1rem 0;
  display: flex;
  flex-flow: column wrap;
}

ul.tasks-list li {
  margin: .25rem 0;
}

ul.tasks-list strong {
  font-size: 22px;
}

li {
    margin: 1rem 0;
}


a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

input[type="submit"] {
  border: 1px solid white;
}