/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import 'bootstrap';

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.list-group-item.disabled, .list-group-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
}

ul {
  border: 2px solid #FF635A
}

header{
  text-align: center
}

a {
  text-decoration: none;
  transition: color .4s;
  color: rgb(255, 255, 255);
}
a:link,
a:visited { color: #37306A; }
a:hover   {
  text-decoration: none;
  color: rgb(0, 0, 0); }
a:active  {
  transition: color .3s;
  color: rgb(224, 211, 23);
}

.container {
  margin-top: 20px;
}

.btn-group {
  background-color: #37306A;
}

.btn-primary > a {
  color: #ffffff;
}

.list-group-item {
  background: #FF635A;
}

.list-group-item:hover{
  background: rgb(255, 164, 90);
}