/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Space+Mono');

.list-group-item {
  position: relative;
  display: block;
  padding: 1.25rem 1.25rem;
  margin-bottom: -1px;
  border: 1px dashed rgba(0, 0, 0, 0.342);
}

.list-group-item:last-of-type {
  border-bottom-left-radius: .9rem;
  border-bottom-right-radius: .9rem;
}

.list-group {
  margin-bottom: 0;
  border-radius: 1.2rem;
}

.list-group-item.disabled, .list-group-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
}

ul {
  border: 5px solid darkmagenta;
  border-radius: 0.5rem;
}

header{
  text-align: center;
  background-color: rgb(156, 179, 53);
  border-top-left-radius: .9rem;
  border-top-right-radius: .9rem;
}

a {
  text-decoration: none;
  transition: color .4s;
  color: rgb(179, 27, 128);
}
a:link,
a:visited { color: rgb(179, 27, 128); }
a:hover   {
  text-decoration: none;
  color: rgb(144, 16, 123); }
a:active  {
  transition: color .3s;
  color: rgb(224, 211, 23);
}

li > a {
margin-left: 10px;
font-size: 1.5em;
font-weight: 600;
}

.container {
  margin-top: 20px;
}

button.left {
  border-top-left-radius: 0.40rem;
  border-bottom-left-radius: 0.40rem;
}

button.right {
  border-top-right-radius: 0.40rem;
  border-bottom-right-radius: 0.40rem;
}

.btn-primary > a {
  color: #ffffff;
}

.list-group-item {
  background: #999;
}

.list-group-item:hover{
  background: #666;
}

.list-form-item, .list-form-item:hover {
  background:rgb(255, 255, 255);
}

input, textarea {
  background-color: transparent;
  border: none;
}

.btn span.glyphicon {
	opacity: 0;
}
.btn.active span.glyphicon {
	opacity: 1;
}

body {
  font-family: 'Space Mono', monospace;
  background-image: image-url('doodles.png');
}