// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @include font-face(Samplino, fonts/Samplino);

// .task-display {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-around;
// }

.task-display {
  display: flex;
  flex-flow: row wrap;
}

ul, li {
list-style-type: none;
font-size: 100%;
}

ul{
  overflow:hidden;
  padding: 0px;
}
ul li div.sticky{
  display:  flex;
  flex-flow: column wrap;
  justify-content: space-between;
  text-decoration:none;
  color:purple;
  background:rgb(114, 221, 189);
  min-width: 200px;
  min-height: 150px;
  padding:1em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

ul li {
  margin:1em;
  float:left;
  font-weight: bold;
  font-family: 'Reenie Beanie', cursive;
}

h2 {
  padding: 0px;
}

.note h2 {
  margin-bottom: 10px;
}

.edit-links a {
  padding-right: 5px;
}