.front-page-list {
  padding: 1em;
  margin: 0px;
  list-style-type: none;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

li {
  padding: 1em;
}

#left-column {
  padding: 2em;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
}

.button_to {
  display: inline-block;
  padding-top: 1em;
}

.button_to input {
  border: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button_to input:hover {
  background-color: hotpink;
  color: white;
}