ul {
  padding: 2em;
  margin: 0px;
  list-style-type: none;
  grid-column-start: 2;
  grid-column-end: 3;
}

#left-column {
  padding: 2em;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
}

.button_to, .edit-task {
  display: inline-block;
}