.front-page-list {
  padding: 2em;
  margin: 0px;
  list-style-type: none;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

li {
  padding: 1em;
}

#left-column {
  padding: 2em;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
}

.button_to {
  display: inline-block;
  padding-top: 1em;
}