// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index {
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}

#index ol {
  background-color: #f6f5f3;
  padding: 2em 0 2em 3em;
  border:  #3d3d3f solid 1px;
  border-radius: 10px;
}

#index li {
  padding: .25em;

}

#index a {
  color: #3d3d3f;
  padding-right: .25em;
}

#index a:hover {
  color: #7dce94;
}

.btn {
  font-size: 1em;
  border-radius: 5px;
  padding: .25em;
  margin-top: .25em;
}
