// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 1fr 150px;

}
 
.complete a:visited {
    color: maroon;
} 

.complete a:link {
    color: maroon;
}

h1 {
    display: flex;
    justify-content: center;
    grid-column: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
}
nav {
    grid-column: 1

}

nav ul{
    list-style: none;
    padding-inline-start: 0%;
    
}

nav li {
    display: block;
    text-align: center;
    // align-content: center;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
}

.itemized-tasks {
    grid-column-start: 2;
    grid-column-end: 3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1em;
}
.todo_item {
    font-weight: bold;
}

.right-column {
    display: flex;
    flex-direction: column;
    align-content: center;
    grid-column: 2;
    grid-row: 2;
}

.right-column h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3em;
}

.button_to input  {
    // padding: 15px 32px;
    font-size: 15px;
    background-color: rosybrown;
    padding: 15px 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    border-radius: 12px;
    text-align: center;
    
}

.form {

    grid-column: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px 32px;
}

.form .space {
    display: inline-block;
    padding: 30px;

}
#new-form-heading {
    padding-left: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.back-button {
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
    padding-left: 32px;
    padding-top: 75px;

}

.back-button:visited {
    color: blue;
}

.place-holder-text-field {
    padding-bottom: 15px;
}

.place-holder-text-field input{
    font-size: 15px;
}

input.task-button {
    font-size: 15px;
    background-color: rosybrown;
    padding: 15px 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    border-radius: 12px;
    text-align: center;
} 

#show {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    padding: 32px;
}

#show p {
    font-size: 20px;
    font-weight: bold;

}

#show a {
    font-weight: lighter;
    font-size: 20px;

}