// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Get Google fonts
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans+Condensed:300');

$header-font-stack: 'Indie Flower', cursive;
$paragraph-font-stack: 'Open Sans Condensed', sans-serif;
$text-color:#023366;
$background-color:#FCDA7C;


main{
    text-align: center;
    color:$text-color;
    background: $background-color;
    
}

h1, h2, h3 {
    font-family: $header-font-stack;

    a {
        font-family: $header-font-stack;  
    }
}

p, a, label {
    font-family: $paragraph-font-stack;
    text-decoration: none;

}

ul {
    list-style-type: none;
    padding:0;
    display: flex;
    flex-flow: row wrap;

    li {
        border: 1px solid red;
        margin:20px;
        padding:20px;
    }
}

form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    input, textarea, label,  {
        margin:20px;
        width:200px;
    }

    input[type="submit"] {
        margin-top:20px;
        margin-bottom:20px;
    }
}